#tinymce {
    @import "fonts", "colors", "mixins", "legacy", "globals";
    --space-s: 0.25em;
    --space-m: 0.5em;
    --space-l: 1em;
    --space-xl: 1.5em;
    --space-2xl: 2em;
    --radius: 3px;

    @include tinymce-system-specific;

    &.pf2e {

        font-family: var(--sans-serif);
        h1, h2, h3, h4 {
            font-weight: 600;
        }
        p {
            font-weight: 500;
        }

        @include journal-entries-pf2e;
        @include tinymce-system-specific;
    }

    &.pf2e.sidebar-text {
        p {
            font-family: var(--sans-serif);
            font-size: 13px;
            font-weight: 400;
            margin: 0;
        }
    }
}
